<launch>
 <!-- 4che --> 
<machine name="yhs-robot4" user="yhs" password="111111" address="192.168.124.185" env-loader="/home/yhs/wyf_ws_lead/devel/car_env.sh"/>
    
    <param name="use_sim_time" value="false"/>
    
    <group ns="wyf_ws_lead">
        
        <node machine="yhs-robot4"  pkg="yhs_can_control" type="yhs_can_control_node" name="yhs_can_control_node" output="screen">
    <!--<rosparam file="$(find xtark_driver)/config/xtark_params.yaml" command="load"/> -->        
           <param name="odom_frame" value="odom"/>
           <param name="base_link_frame" value="base_link"/>
           <param name="tfUsed" value="false"/>
        </node>

        <node machine="yhs-robot4" pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster" args="0.0 0.0 0.0 0 0 0 base_link imu_link" />
<!-- 启动nlink_parser驱动包 -->
        <node machine="yhs-robot4" pkg="nlink_parser" type="linktrack" name="linktrack0" output="screen">
            <param name="port_name" value="/dev/ttyUSB1" />
            <param name="baud_rate" value="921600" />
        </node>
</group>

    <node pkg="yhs_can_control" type="yhs_can_control_node" name="yhs_can_control_node" output="screen">
            
	<param name="odom_frame" value="odom"/>
    <param name="base_link_frame" value="base_link"/>
    <param name="tfUsed" value="false"/>
    </node>

    <node pkg="nlink_parser" type="linktrack" name="linktrack0" output="screen">
        <param name="port_name" value="/dev/ttyUSB1" />
        <param name="baud_rate" value="921600" />
    </node> 

   <node pkg="tf2_ros" type="static_transform_publisher" name="imu_broadcaster" args="0.0 0.0 0.0 0 0 0 base_link imu_link" />
</launch>

